@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$green: #1bb3a8;
$bg-dark: #282828;
$neutral10: #f8f8f8;
$accent: #229be6;
$mono: Menlo, Consolas, "Courier New", monospace;

body {
  font-family: 'Source Sans Pro', Helvetica, sans serif;
  padding: 2em;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  background: lightgreen;
}

.entries {
  text-align: left;
}

@media all and (max-width: 700px) {
  .entries     { order: 1; }
  .plz-explain { order: 2; } 
  .footer      { order: 3; }
  body         { padding: 0.3em; }
}

@media all and (min-width: 700px) {
  .plz-explain { flex: 3 none; }
}

.entry {
  padding: 15px 0;
  max-width: 500px;
}

li {
  list-style: none;
  color: $green;
  font-family: $mono;
  font-size: 0.8em;
  margin: 0.3em 0px;
}

.headword {
  a, a:visited, a:hover {
    color: $green;
    font-weight: 700;
    font-size: 1.4em; 
  }
}

.see-also {
  a, a:visited, a:hover {
    color: grey;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  span:nth-child(n+2) {
    padding: 0px 5px;
  }
}

.expansion {
  font-weight: 400;
  font-size: 1.4em;
}

.title {
  font-size: 2em;
  font-weight: 700;
}

.def {
  margin: 5px 0px 7px 0px;
}

.links {
  margin: 0px 0;
  padding: 0px 0px;
  overflow: hidden;
}

a, a:visited {
  color: $accent;
  text-decoration: none;
}

.plz-explain {
  div {
    line-height: 1.7em;
  }

  span {
    padding: .2em .6em;
    background: #e9e9e9;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 0.8em;
  }
}

h2 {
  font-size: 1.3em;
}